@media(max-width: 460px) {
    .title_home {
        font-size: 28px !important;
    }
    
    .sauces {
        width: 98% !important;
        
        &_section_name_title {
            font-size: 25px !important;
        }
        
        &_list li {
            width: 65% !important;
        }
    }
}

@media(min-width: 460px) and (max-width: 768px) {
    .title_home {
        font-size: 28px !important;
    }
    
    .sauces {
        width: 98%!important;
        
        &_section_name_title {
            font-size: 25px !important;
        }
        
        &_list {
            justify-content: space-around !important;
            & li {
                width: 42% !important;
            }
        }
    }

    .card {
        &_img {
            height: 240px !important;
        }
        
        &_figcaption {
            &_title {
                font-size: 18px;
            }
        }
        
        &_vote {
            font-size: 16px;
        }
    }

    .sauce_ratings {
        font-size: 18px !important;
    }
}

@media(min-width: 768px) and (max-width: 1200px) {
    .sauces {
        width: 98%;
        &_list {
            justify-content: space-around !important;
            & li {
                width: 28% !important;
            }
        }
    }
}

.title_home {
    margin: 2.5rem 0;
    font-size: 32px;
    text-shadow: 0 0 10px #ff000074;
}

.sauces {
    width: 95%;
    margin: auto;
    
    &_section_name {
        display: flex;
        align-items: center;
        
        &_icon {
            margin: 0 0.5rem;
            text-shadow: 0 0 10px #ff000074;
            font-size: 22px;
        }
        
        &_title {
            margin: 0;
            text-shadow: 0 0 5px #ff000074;
        }
    }

    &_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        padding: 0;
        margin: 1.5rem 0;
        
        & li {
            display: grid;
            width: 18%;
            margin: 1rem;
        }
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    
    &_img {
        width: 100%;
        height: 280px;
        object-fit: contain;
        border-radius: 0.3rem 0.3rem 0 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        margin-top: 0.2rem;
    }

    &_figcaption {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.8rem;
        
        &_title {
            margin-top: 0.3rem;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        
        &_subtitle {
            margin-top: 0.3rem;
            margin-bottom: 2.3rem;
            font-size: 16px;
            color: $tertiary-clr;
        }
    }

    &_vote {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-bottom: 0.5rem;
        font-family: 'Lato';
        
        &_icon {
            margin: 0 0.3rem;
            padding: 0;
            background-color: transparent;
            border: none;
            color: $tertiary-clr;
            font-size: 20px;
            cursor: pointer;
            
            &_like {
                color: $like-clr;
                text-shadow: 0 0 2px #00ff1a49;
            }
            
            &_dislike {
                color: $dislike-clr;
                text-shadow: 0 0 2px #ff000049;
            }
        }
    }
}

#notlike:hover {
    color: $like-clr;
    text-shadow: 0 0 2px #00ff1a49;
}

#notdislike:hover {
    color: $dislike-clr;
    text-shadow: 0 0 2px #ff000049;
}