@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}