@media(max-width: 768px) {
    .header {
        display: flex;
        &_logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 250px !important;
        }
        & nav {
            display: flex;
            align-items: center;
            justify-content: space-around !important;
            margin-top: 4.5rem;
            font-size: 15px;
            text-align: center;
            width: 100%;
        }
        &_nav {
            justify-content: space-around !important;
            padding-bottom: 0.3rem !important;
            &_link {
                padding: 0 !important;
                margin-bottom: 0.5rem;
                &_1 {
                    margin-left: 1rem !important;
                }
                &_2 {
                    margin-right: 1rem !important;
                }
            }

            &_text {
                display: none;
            }
            &_icon {
                font-size: 20px !important;
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 1200px) {
    .header {
        &_logo {
            width: 300px !important;
        }

        &_nav {
            &_link {
                &_1 {
                    margin-left: 1.5rem !important;
                }
                &_2 {
                    margin-right: 1.5rem !important;
                }
            }
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $bg-section-clr;
    
    &_logo {
        width: 380px ;
        margin: 0.7rem 1rem;
    }

    & nav {
        display: flex;
        align-items: center;
    }

    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 5px #b800009f;
        text-align: center;
        width: 100%;
            
        &_link {
            text-shadow: 0 0 5px #ff000074;
            &:hover {
                text-decoration: underline;
            }
            &_1 {
                margin-left: 2rem;
            }
            &_2 {
                margin-right: 2rem;
            }
        }

        &_icon {
            font-size: 0;
            transition: all 250ms ease-in-out;
            color: $secondary-clr;
            @include custom-txt;
            &:hover {
                color: $tertiary-clr;
            }
        }
    }
}