@media(max-width: 768px) {
    .login {
        &_header {
            &_logo {
                width: 330px;
                padding: 0 1rem;
            }
        }

        &_section {
            &_header {
                & button {
                    padding: 1rem 0 !important;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 1200px) {}

.login {
    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0;
    }

    &_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $primary-clr;
        box-shadow: 0 0 10px #ff000074;
        width: 47%;
        min-width: 300px;
        max-width: 600px;
        margin: auto;
        border-radius: 0.2rem;
        &_header {
            width: 100%;
            & button {
                width: 50%;
                border: none;
                border-bottom: 1px solid $primary-clr;
                padding: 1rem;
                font-size: 20px;
            }
        }
        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0rem;
            width: 92%;
        }
    }

    &_footer {
        display: flex;
        justify-content: center;
        margin-top: 1.3rem;
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.active {
    background-color: $secondary-clr;
}

.inactive {
    color: $primary-clr;
    background-color: transparent;
}

// FORM

.form {
    position: relative;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_label {
        text-shadow: 0 0 5px #ff000074;
    }

    &_input {
        position: relative;
        justify-content: center;
        width: 99%;
        height: 30px;
        background-color: rgba(69, 68, 68, 0.386);
        border: 1px solid $primary-clr;
        margin: 0.5rem auto 1rem auto;
        font-size: 16px;
        border-radius: 0.2rem;
        &:focus {
            outline: 1px solid $primary-clr;
        }
    }

    &_btn {
        align-self: center;
        margin: 0.1rem auto;
        height: 38px;
        width: 70%;
        background-color: $secondary-clr;
        border: 1px solid $primary-clr;
        border-radius: 0.2rem;
        font-size: 18px;
    }
}

// ICON PASSWORD \\
.container_password_input {
    position: relative;
    display: flex;
    align-items: center;
}

#icon-password {
    &-signup {
        position: absolute;
        bottom: 25px;
        right: 8px;
    }
    &-signin {
        position: absolute;
        bottom: 25px;
        right: 8px;
    }

    &-update {
        position: absolute;
        bottom: 25px;
        right: 8px;
    }
}

.icon_password {
    display: flex;
    align-content: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;

    &_hidden {
        position: absolute;
        &:hover {
            opacity: 0;
        }

        &_show {
            opacity: 0;
        }
    }

    &_show {
        position: absolute;
        &:hover {
            opacity: 0;
        }
        
        &_hidden {
            opacity: 0;

        }
    }
}