@media(max-width: 768px) {
    .login {
        &_header_logo {
            width: 330px;
            padding: 0 1rem;
        }

        &_section_header button {
            padding: 1rem 0 !important;
        }
    }
}

.login {
    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0;
    }

    &_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 47%;
        min-width: 300px;
        max-width: 600px;
        margin: auto;
        @include custom-border;

        &_header {
            width: 100%;
            
            & button {
                width: 50%;
                border: none;
                border-bottom: 1px solid $primary-clr;
                padding: 1rem;
                font-size: 20px;
            }
        }
        
        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0rem;
            width: 92%;
        }
    }

    &_footer {
        display: flex;
        justify-content: center;
        margin-top: 1.3rem;
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.active {
    border-radius: 0;
    background-color: $secondary-clr;
}

.inactive {
    border-radius: 0;
    color: $primary-clr;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: $secondary-clr;
        color: black;
    }
}

// FORM \\
.login_form {
    position: relative;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &_btn {
        margin: 0.1rem auto;
        height: 38px;
        width: 70%;
    }
}

// ICON PASSWORD \\
.container_password_input {
    position: relative;
    display: flex;
    align-items: center;
}

#icon-password {
    &-signup {
        position: absolute;
        bottom: 23px;
        right: 8px;
    }
    &-signin {
        position: absolute;
        bottom: 23px;
        right: 8px;
    }

    &-update {
        position: absolute;
        bottom: 23px;
        right: 8px;
    }
}

.icon_password {
    display: flex;
    align-content: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;

    &_hidden {
        position: absolute;
        &:hover {
            opacity: 0;
        }

        &_show {
            opacity: 0;
        }
    }

    &_show {
        position: absolute;
        &:hover {
            opacity: 0;
        }
        
        &_hidden {
            opacity: 0;

        }
    }
}