.sauce_page {
    &_figure {
        position: relative;
        display: flex;
        margin: 5rem auto;
        border: 1px solid $primary-clr;
        width: 60%;
        padding: 0;
        box-shadow: 0 0 10px #ff000074;

        &_img {
            align-self: baseline;
            width: 250px;
            border-right: 1px solid rgba(128, 128, 128, 0.2);
            padding: 0.5rem 0;
        }
    }

    &_figcaption {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }

    &_vote {
        display: flex;
        align-items: flex-end;
        height: 100%;
        margin-bottom: 0.5rem;
        &_icon {
            font-size: 20px !important;
        }
    }
}