@import 'variables';
@import 'fonts';
@import 'Header';
@import 'Login';
@import 'Banner';
@import 'DisplaySauces';
@import 'SaucePage';
@import 'UpdateSauce';
@import 'InputRange';
@import 'ConfirmModal';
@import 'ErrorAuth';

html {
    background-color: $bg-clr;
    font-family: 'Raleway';
    font-size: 18px;
    color: $primary-clr;
    margin: auto;
}

a {
    text-decoration: none;
    color: $primary-clr;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

input {
    font-family: 'Raleway';
    color: white;
}

textarea {
    resize: none;
}

.bold {
    font-family: 'Raleway-Medium';
}

.center {
    text-align: center;
}

.error {
    margin-top: 0;
}

.success {
    color: $like-clr;
}